/**/

*
{
	margin:0;
	outline:none;
	padding:0;
}

body
{
	background-color: #EFEFEF;
	margin: auto;
	width:1000px;
}

header
{
	background-color: rgb(209, 160, 160);
	margin: auto;
	width:1000px;
	height:80px;
}

section
{
	background-color: rgb(134, 175, 155);
	margin: auto;
	width:800px;
	float:left;
}


aside
{
	background-color: rgb(212, 172, 154);
	margin: auto;
	width:200px;
	float:right;
}


footer
{
	background-color: rgb(138, 161, 236);
	margin: auto;
	width:1000px;
	height:30px;
	clear: left;
}